<center>

<h1>About Me</h1><br><br>
<p><img src="http://sweetclipart.com/multisite/sweetclipart/files/cute_corgi_puppy_2.png"></p>
<p>Hi! My name is Rachel Cowles.<br>
	I'm a designer, developer, and lover of all things corgi.<br></p>

</center>
