<!-- body {
    background-image: url("http://us.123rf.com/450wm/studiom1/studiom11005/studiom1100500453/7031308-cinema-word-collage-on-black-background.jpg?ver=6");
    background-repeat: repeat-y;
} -->

<center><h1>Welcome to Rachel's Movie Database!</h1>
<p>
This project was created for the TTS Fall 2015 Code Immersion Program.<br> Click on the links above to see what we made!
</p>
</center>