<!-- body {
    background-image: url("http://us.123rf.com/450wm/studiom1/studiom11005/studiom1100500453/7031308-cinema-word-collage-on-black-background.jpg?ver=6");
    background-repeat: repeat-y;
} -->

<center>

<h1>Welcome to the Movie Vault!</h1>
<img src="http://digm.drexel.edu/acelab/wp-content/uploads/2013/10/PosterCollage.jpg" width="1000"><br><br><br>

</center>